<div class="event">
    {{input value=event.date placeholder='date'}}
    {{input value=event.title placeholder='titre'}}
    {{input value=event.content placeholder='descriptif'}}
    <button {{action "submitEvent" event}}>Enregistrer</button>
</div>
